# MySQL
MYSQL_ROOT_PASSWORD=rootsecret
MYSQL_DATABASE=clients
MYSQL_USER=clients
MYSQL_PASSWORD=clientssecret
MYSQL_PORT=3307

# Puertos locales
BACKEND_PORT=3000
FRONTEND_PORT=5173

# Encryption
ENCRYPTION_KEY=""
HASH_SALT=""
